.gallery-thumb {
    width: 100%;
    aspect-ratio: 1;
    opacity: .75;
    transition: all 0.5s;
    border-radius: 3px;
}

.gallery-thumb:hover {
    opacity: 1;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

/*
@media only screen and (min-width: 575px) {
  .gallery-thumb{
    height: 150px;
  }
}

@media only screen and (max-width: 575px) {
  .gallery-thumb{
    height: 100px;
  }
} */